.partner-list{
    list-style: none;
    position: relative;
    transform-style: preserve-3d;
    height: 150px;
    margin: 2rem 0;
    perspective: 300px;
    li{
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        @for $i from 0 through 3 {
            &.spin-#{$i}{ animation: partnerSpin-#{$i} linear infinite 10s; }
        }

        img{
            height: 100px;
            width: auto;
        }
    }
}