$blue : var(--kakablue);
$red : var(--kakared);
$gray : var(--gray);
$white : var(--white);
$light : var(--light);
$dark : var(--dark);
$lightdark : var(--lighter-dark);
$blue-blend : #0087f8;
$red-blend : #ff5909;