@import "./font-face";

:root{
    --kakablue : #0087f8;
    --kakared : #ff5909;
    --gray : #aebcbe;
    --white : #fff;
    --light : #f8f9fa;
    --dark : #212529;
    --lighter-dark: #2c3a47;
    --kaka-serif: "Poppins", sans-serif;
}