.kakapadding-atas-sm{padding-top: 5%;}
.kakapadding-atas-md{padding-top: 10%;}
.kakapadding-atas-lg{padding-top: 12%;}

.kakapadding-sisi-xs{padding-left: 1.1%; padding-right: 1.1%;}
.kakapadding-sisi-sm{padding-left: 5%; padding-right: 5%}
.kakapadding-sisi-md{padding-left: 10%; padding-right: 10%}
.kakapadding-sisi-lg{padding-left: 12%; padding-right: 12%}