*{
    box-sizing: border-box;
    user-select: none;
    &:not(pre) &:not(code){
        font-family: $sans-serif;
    }
    &:not(dialog){
        position: relative;
    }
}
body{
    padding: 0;
    margin: 0;
}
main{
    margin: 0;
}

.headline-card{
    width: 80%; 
    max-width: 1000px; 
    height: auto;
}