$primary:#0087f8;
$red: #f77070;
$yellow: #ffa426;
$green: #63ed7a;

$white: #fff;
$black: #333;

$dark: #212529;
$gray: #98A9BC;

$light: #f3f6f9;
$light-2: #f9f9f9;
$lighter: rgba(0, 0, 0, 0.05);


$light-transparent: rgba(0, 0, 0, 0.08);
$gray: rgba(0, 0, 0, 0.15);

$color-1: #252631;
$color-2: #7c8efc;
$color-3: #778CA2;