$blue : var(--kaka-blue);
$red : var(--kaka-red);
$green: var(--kaka-green);
$light: var(--kaka-light);
$dark-light: var(--kaka-dark-light);
$blend: var(--kaka-blended);
$dark-gray: var(--kaka-dark-gray);