:root{
    --kaka-blue: #0087f8;
    --kaka-red: #ff5909;
    --kaka-green: #4ffa00;
    --kaka-light: #f6f7f8;
    --kaka-dark-light: #d9dadb;
    --kaka-blended: #996b69;
    --kaka-dark-gray : #303840;
}
@import "./color";
