[class^="kakakonten"]{
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1360px;
}

.kakakonten-xl{
    min-height: 720px;
}

.kakakonten-lg{
    min-height: 640px;
}

.kakakonten-md{
    min-height: 480px;
}

.kakakonten-sm{
    min-height: 240px;
}

.kakakonten-xs{
    min-height: 96px;
}