.btn:focus,
.btn:active,
.btn:active:focus,
.custom-select:focus,
.form-control:focus {
    box-shadow: none !important;
    outline: none; }
.selectric.is-invalid{
    border-color: #DC3645;
}
.column-small{
    max-width: 9.5rem;
}

a {
    color: #0087f8;
    font-weight: 500;
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s; }

a:not(.btn-social-icon):not(.btn-social):not(.page-link):not(.card) .ion,
a:not(.btn-social-icon):not(.btn-social):not(.page-link):not(.card) .fas,
a:not(.btn-social-icon):not(.btn-social):not(.page-link):not(.card) .far,
a:not(.btn-social-icon):not(.btn-social):not(.page-link):not(.card) .fal,
a:not(.btn-social-icon):not(.btn-social):not(.page-link):not(.card) .fab,
a:not(.btn-social-icon):not(.btn-social):not(.page-link):not(.card) .fa {
    margin-left: 4px; }

a{ text-decoration: none; }
a:not(.nav-link):hover{ text-decoration: underline; }

.bg-primary {
    background-color: #0087f8 !important; }

.bg-secondary {
    background-color: #cdd3d8 !important; }

.bg-success {
    background-color: #63ed7a !important; }

.bg-info {
    background-color: #3abaf4 !important; }

.bg-warning {
    background-color: #ffa426 !important; }

.bg-danger {
    background-color: #ff5909 !important; }

.bg-light {
    background-color: #e3eaef !important; }

.bg-dark {
    background-color: #191d21 !important; }

.text-primary, .text-primary-all *, .text-primary-all *:before, .text-primary-all *:after {
    color: #0087f8 !important; }

.text-secondary, .text-secondary-all *, .text-secondary-all *:before, .text-secondary-all *:after {
    color: #cdd3d8 !important; }

.text-success, .text-success-all *, .text-success-all *:before, .text-success-all *:after {
    color: #63ed7a !important; }

.text-info, .text-info-all *, .text-info-all *:before, .text-info-all *:after {
    color: #3abaf4 !important; }

.text-warning, .text-warning-all *, .text-warning-all *:before, .text-warning-all *:after {
    color: #ffa426 !important; }

.text-danger, .text-danger-all *, .text-danger-all *:before, .text-danger-all *:after {
    color: #ff5909 !important; }

.text-light, .text-light-all *, .text-light-all *:before, .text-light-all *:after {
    color: #e3eaef !important; }

.text-white, .text-white-all *, .text-white-all *:before, .text-white-all *:after {
    color: #ffffff !important; }

.text-dark, .text-dark-all *, .text-dark-all *:before, .text-dark-all *:after {
    color: #191d21 !important; }

.fw-normal {
    font-weight: 500 !important; }

.lead {
    line-height: 34px; }

@media (max-width: 575.98px) {
    .lead {
        font-size: 17px;
        line-height: 30px; } }
h1, h2, h3, h4, h5, h6 {
    font-weight: 700; }

p, ul:not(.list-unstyled), ol {
    line-height: 28px; }

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03); }

.text-muted {
    color: #98a6ad !important; }
