.kakabg-00{
    background-image: url("../images/bg/headlineBG.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.kakabg-01{
    background-image: url("../images/bg/trialBG.svg");
    background-repeat: no-repeat;
    background-size: cover;
}