.dataTable {
    &_length {
        label {
            display: flex;
            align-items: center;
        }

        select {
            width: 80px;
            margin: 0 10px;
        }
    }

    &_wrapper &_filter {
        text-align: right;

        label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
        }

        input {
            margin-left: 0.5em;
            display: inline-block;
            width: auto;
        }
    }

    &-sorter {
        padding-right: 4px;
        font-weight: bold;

        &::after {
            transform: translateY(-25%);
            border-bottom-width: 8px;
            border-bottom-color: var(--kaka-blue) ;
        }

        &::before {
            transform: translateY(25%);
            border-top-width: 8px;
            border-top-color: var(--kaka-blue);
        }

        &::before, &::after {
            right: -8px;
        }
    }

    tbody tr{ background-color: unset !important; }

    &.no-footer &-container{
        border-bottom: unset;
    }
}