@keyframes float-item-0-open{
    from{transform: translateY(0) rotate(360deg);}
    to {transform: translateY(-450%) rotate(0deg);}
}
@keyframes float-item-1-open{
    from{transform: translateY(0) rotate(360deg);}
    to {transform: translateY(-300%) rotate(0deg);}
}
@keyframes float-item-2-open{
    from{transform: translateY(0) rotate(360deg);}
    to {transform: translateY(-150%) rotate(0deg);}
}

@keyframes float-desc{
    0%{width: 0}
    80%{width: 100px}
    100%{width: 100px}
}
@keyframes float-desc-after{
    0%{width: 0; height: 0;}
    80%{width: 0; height: 0;}
    100%{width: 35px; height: 35px;}
}