.bg-color-label .custom-control {
    display: inline-block;
}

.bg-color-label .custom-control-label:before {
    width: 20px;
    height: 20px;
}

.bg-color-label .custom-control-label:after {
    width: 20px;
    height: 20px;
}

.bg-font-red .custom-control-label:before {
    background: #D91E18 !important;
}

.bg-font-red .custom-control-input:checked ~ .custom-control-label:before {
    background: #D91E18 !important;
    border-color: #D91E18 !important;
}

.bg-font-yellow-casablanca .custom-control-label:before {
    background: #f2784b !important;
}

.bg-font-yellow-casablanca .custom-control-input:checked ~ .custom-control-label:before {
    background: #f2784b !important;
    border-color: #f2784b !important;
}

.bg-font-purple-intense .custom-control-label:before {
    background: #8775a7 !important;
}

.bg-font-purple-intense .custom-control-input:checked ~ .custom-control-label:before {
    background: #8775a7 !important;
    border-color: #8775a7 !important;
}

.bg-font-purple-medium .custom-control-label:before {
    background: #bf55ec !important;
}

.bg-font-purple-medium .custom-control-input:checked ~ .custom-control-label:before {
    background: #bf55ec !important;
    border-color: #bf55ec !important;
}

.bg-font-yellow-soft .custom-control-label:before {
    background: #c8d046 !important;
}

.bg-font-yellow-soft .custom-control-input:checked ~ .custom-control-label:before {
    background: #c8d046 !important;
    border-color: #c8d046 !important;
}