.fw-bold {
    font-weight: 700 !important;
}
.fw-400{
    font-weight: 400 !important;
}

.font-style {
    text-transform: capitalize !important;
}

.font-uppercase {
    text-transform: uppercase !important;
}