ul.activity-wrap li p {
    line-height: initial;
    padding: 5px 0;
}

ul.activity-wrap li h6 {
    font-size: 14px;
}

ul.activity-wrap li p {
    font-size: 13px;
}

ul.activity-wrap li div {
    font-size: 12px;
}

ul.activity-wrap {
    height: 650px;
    overflow: auto;
}