.profile-userpic {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 100%;
}

.user-profile {
    width: 100%;
    border-radius: 100%;
    height: 100%;
}

.profile-sidebar .profile-usertitle {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #172b4d;
}

.profile-sidebar .profile-usertitle .profile-usertitle-name {
    font-size: 24px;
    text-transform: capitalize;
    color: #000;
}

.profile-sidebar .profile-usertitle .profile-usertitle-job {
    color: #6d77e6;
}

.profile-sidebar .profile-usertitle .profile-usertitle-job {
    color: #6d77e6;
}